.body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    margin: 0px;
}

.main {
    padding-left: 10px;
    position: relative;
    height: 100vh;
    display: flex;
    z-index: 1;
    /*Asegura que el contenido esté por encima del fondo*/
}

.main::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../assets/background_RoS.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0.5;

    z-index: -1;
    /*Al revés. el background se pone debajo del contenido*/
}

.main::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(248, 83, 83, 0.5), rgba(0, 0, 0, 0.5));
    z-index: -1;
}

.contenedores {
    padding: 20px;
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

}

.contenedor h2 {
    display: flex;
    font-family: "Lato", sans-serif;
    font-style: italic;
    font-weight: bold;
    margin-right: 30px;
}

.tarjeta_galeria {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    border: 1px solid black;
    color: transparent;
    width: 266.66px;
    height: 266.66px;
    padding: 3px;
    margin: 5px;
    border-radius: 5px;
    box-shadow: crimson 2px 2px 14px;

}

.contenedor p {
    margin: 5px;
    font-family: Stack Sans Notch;
    box-shadow: crimson 2px 2px 14px;
    padding: 5px;
}

#tarjeta1 {
    background-image: url(../assets/imagenes_de_galeria/marc.jpeg);
    background-size: cover;
    background-position: center;

}

#tarjeta2 {
    background-image: url(../assets/imagenes_de_galeria/jorgeMartin.jpeg);
    background-position: center;
    background-size: cover;
}

#tarjeta3 {
    background-image: url(../assets/imagenes_de_galeria/rossi.jpeg);
    background-position: center;
    background-size: cover;
}

#tarjeta4 {
    background-image: url(../assets/imagenes_de_galeria/Z900.png);
    background-size: cover;
    background-position: center;

}

#tarjeta5 {
    background-image: url(../assets/imagenes_de_galeria/yamahaR1.png);
    background-position: center;
    background-size: cover;
}

#tarjeta6 {
    background-image: url(../assets/imagenes_de_galeria/Hayabusa.png);
    background-position: center;
    background-size: cover;
}

#tarjeta7 {
    background-image: url(../assets/imagenes_de_galeria/Ducati_panigale.png);
    background-size: cover;
    background-position: center;

}

#tarjeta8 {
    background-image: url(../assets/imagenes_de_galeria/MV_Augusta_brutale.png);
    background-position: center;
    background-size: cover;
}

#tarjeta9 {
    background-image: url(../assets/imagenes_de_galeria/Aprilia_RS_Factory.png);
    background-position: center;
    background-size: cover
}

.footer {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 10px;
    ;
    color: #fafafa;
    background-color: #161616;
}

.header {
    background-image: url('../assets/imagen_noticias.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_galeria p {
    padding: 3px;
    font-family: Lato, sans-serif;
    font-size: large;
    color: #1f1c1c;
    text-shadow: rgb(192, 162, 162) 0px 1px;
    font-weight: 500;

}

.header_galeria h1 {
    font-family: 'Stack Sans Notch', sans-serif;
    font-size: 48px;
    font-weight: bold;
    color: rgb(240, 0, 0);
    margin: 0px;
    text-shadow: black 2px 3px;

}

#storm {
    color: black;
    text-shadow: rgb(240, 0, 0) 2px 3px;
}

.linea_roja {
    width: 100%;
    height: 2px;
    background-color: rgb(240, 0, 0);
}